In [180]:
import os
import shutil
import calendar
import glob
import pandas as pd
import chardet
from dateutil import parser

In [210]:
data_fld = "data"
raw_fld = os.path.join(data_fld, "raw")
clean_fld = os.path.join(data_fld, "clean")

if os.path.exists(clean_fld):
    shutil.rmtree(clean_fld)
shutil.copytree(raw_fld, clean_fld)



# keyword lists
months = []
for i in range(1,13):
    months.append(calendar.month_name[i])
    
month_index = {month: index for index, month in enumerate(calendar.month_name) if month}
month_index_reverse = {index: month for index, month in enumerate(calendar.month_name) if month}

acct_keywords = set()
for f  in os.listdir(clean_fld):
    name = f.split(".")[0]
    words = name.split()
    acct_keywords.update(words)
acct_keywords = list(acct_keywords)



for f in sorted(os.listdir(clean_fld)):
    # prep
    split = f.split(".")
    name = split[0]
    extension = split[1]
    
    # strip trailing whitespace.
    name = name.strip()
    
    # iterate througn name words
    words = name.split()
    new_words = []
    
    previous = None
    
    for i,w in enumerate(words):
        
        
        # deal with extra uncessary spaces
        if previous is None:
            # first element.
            pass
        elif previous+w in months+acct_keywords:
            # append separated words ie "Fe bruary"
            new_words.pop()
            w = previous + w
            
        # Capture Date, to append after loop
        if "-" in w:
            parts = w.split("-")
            if all(p.isdigit() for p in parts):
                if len(parts) == 2:
                    parts.append("01")
                date = parser.parse("-".join(parts), yearfirst=True)
                month = month_index_reverse[date.month]
                year = date.year
                continue
            else:
                # string with "-" contains a word.
                pass

        if w in months:
            month = w
            continue
            
        if w.isdigit() and len(w) == 4:
            year = w
            continue

        # Small edits.
        if w in ["Associac?a?o", "Associação"]:
            w = "AAM"
            
        if w == "Saving":
            w = "Savings"
            
        
        new_words.append(w)
        previous = w
        
    # Remove Words
    for exclude in ["Overland", "Enterprise", "Perimeter", "Bag", "PC"]:
        if exclude in new_words:
            new_words.remove(exclude)

    if "AAM" in new_words:
        new_words.remove("AAM")
        new_words.insert(0, "AAM")
    else:
        if "OE" in new_words:
            new_words.remove("OE")
            
        if "Kitty" in new_words:
            new_words.remove("Kitty")
            new_words.insert(0, "KITTY")
        elif "Expeditions" in new_words:
            new_words.insert(0, "AAM")
        else:
            new_words.insert(0, "OE")
            

    date_list = [str(year), str(month_index[month]).zfill(2)]
    new_name = " ".join(new_words + date_list)
    new_f = new_name + "." + extension
#     print(new_f)
    old_filepath = os.path.join(clean_fld, f)
    new_filepath = os.path.join(clean_fld, new_f)
    os.rename(old_filepath, new_filepath)

# for f  in sorted(os.listdir(clean_fld)):
#     print(f)

In [208]:
# Create df of all CSV's to normalize them.
all_files = glob.glob(os.path.join(clean_fld, "*.csv")) 
li = []
for filename in all_files:
    dff = pd.read_csv(filename)
    fname = os.path.basename(filename)
    name = fname.split(".")[0]
    dff["filename"] = name
    dff["filedate"] = "-".join(name.split()[-2:])
    dff["fileacct"] = " ".join(name.split()[:-2])
    li.append(dff)
    
df = pd.concat(li, axis=0, ignore_index=True)
df["Date"] = pd.to_datetime(df["Date"]).dt.date
df["filedate"] = pd.to_datetime(df["filedate"]).dt.date
df = df.sort_values(by=["filedate","Receipt Index"]).reset_index(drop=True)

In [209]:
# Group by fileacct and create separte csv's storing them in data/grouped folder
tmp_fld = os.path.join("data", "grouped")

if os.path.exists(tmp_fld):
    shutil.rmtree(tmp_fld)
os.mkdir(tmp_fld)

col = "fileacct"
for i in df[col].unique():
    df_acct = df[df[col] == i]
    ending = round(df_acct.Price.sum(),2)
    print(ending, i)
    df_acct.to_excel(os.path.join(tmp_fld, f"{i}.xlsx"))

-0.0 AAM BCI
0.0 OE Base Savings Budget
0.0 KITTY
0.0 KITTY Rollover
0.0 OE Base Savings Spending
0.0 AAM Base
0.0 OE Base
0.0 AAM Expeditions
-0.0 OE BCI
0.0 OE Villa
0.0 OE Wall

In [77]:
all_files = glob.glob(os.path.join(clean_fld, "*.csv")) 
df_from_each_file = (pd.read_csv(f) for f in all_files)
df = pd.concat(df_from_each_file, ignore_index=True)

In [211]:
import chardet
all_files = glob.glob(os.path.join(clean_fld, "*.csv")) 
li = []
for filename in all_files:
    with open(filename, 'rb') as rawdata:
        result = chardet.detect(rawdata.read(10000))
    dff = pd.read_csv(filename, index_col=None, header=0, encoding=result["encoding"].lower())
    fname = os.path.basename(filename)
    name = fname.split(".")[0]
    dff["filename"] = name
    date = pd.to_datetime("-".join(name.split()[-2:]))
    dff["filedate"] = date
    acct = " ".join(name.split()[:-2])
    dff["fileacct"] = acct
    if name == "KITTY 2021 06":
        df_check = dff
    li.append(dff)
df = pd.concat(li, axis=0, ignore_index=True)
df["Date"] = pd.to_datetime(df["Date"])
df = df.sort_values(by=["filedate","Receipt Index"]).reset_index(drop=True)

In [212]:
result

{'encoding': 'UTF-8-SIG', 'confidence': 1.0, 'language': ''}

In [158]:
def clean_text(row):
    # return the list of decoded cell in the Series instead 
    return [r.decode('unicode_escape').encode('UTF-8-SIG', 'ignore') for r in row]

# df['Name'] = df["Name"].apply(clean_text)

In [159]:
col = "Payment Method"
df["Name"] = df["Name"].astype(str)
for acct in df[col].unique():
    df_acct = df[df[col] == acct]
    bb = list(df_acct[df_acct["Receipt Index"]==1]["Price"][1:])
    bb_name = list(df_acct[df_acct["Receipt Index"]==1]["Name"][1:])
    close = list(-df_acct[df_acct["Receipt Index"].shift(-1)==1]["Price"])
    close_name = list(df_acct[df_acct["Receipt Index"].shift(-1)==1]["Name"])
    if bb == close:
#         print(acct, True)
        pass
    else:
        print(acct)
        print("cl",close)
        print("cl_name", close_name)
        print("bb",bb)
        print("bb_name", bb_name)

Base Savings
cl [-179800.0, 188550.0, -188550.0, 7150.0, -197700.0, 203450.0, -203450.0]
cl_name ['Beginning\xa0Balance', 'Close\xa0out\xa0month', 'Beginning\xa0Balance', 'Tx\xa0to\xa0Base\xa0Savings\xa0Budget', 'Beginning\xa0Balance', 'Close\xa0out\xa0June', 'Beginning\xa0Balance']
bb [71772.82, 188550.0, 91627.82, 197700.0, 114465.82, 203450.0, 114465.82]
bb_name ['Beginning\xa0Balance', 'Beginning\xa0Balance', 'Beginning\xa0Balance', 'Beginning\xa0Balance', 'Beginning\xa0Balance', 'Beginning\xa0Balance', 'Beginning\xa0Balance']
Associacao Petty Cash
cl [3000.0, 1309.0, -171521.0, 4751.0]
cl_name ['Tx\xa0to\xa0PC\xa0associação', 'Close\xa0out\xa0May', 'Beginning\xa0Balance', 'Close\xa0out\xa0June']
bb [0.0, 171521.0, 1309.0, 4751.0]
bb_name ['Beginning\xa0Balance', 'Beginning\xa0Balance', 'Beginning\xa0Balance', 'Beginning\xa0Balance']
Base
cl [111727.0, 182182.5, 80376.0, 51694.0, 9253.0, 844.0, 1238.0, 163.5, 25892.5, 10733.5]
cl_name ['Close\xa0out\xa0month', 'Close\xa0out\xa0June', 'Close\xa0out\xa0July', 'Close\xa0out\xa0August', 'Close\xa0out\xa0September', 'Close\xa0out\xa0October', 'Close\xa0out\xa0November', 'Close\xa0out\xa0December', 'Close\xa0out\xa0January', 'Close\xa0out\xa0February']
bb [111727.0, 182182.5, -425.0, -2000.0, 9253.0, 844.0, 1238.0, 163.5, 25892.5, 10733.5]
bb_name ['Beginning\xa0Balance', 'Beginning\xa0Balance', 'Farmácia\xa0Mopani', 'EDM', 'Beginning\xa0Balance', 'Beginning\xa0Balance', 'Beginning\xa0Balance', 'Beginning\xa0Balance', 'Beginning\xa0Balance', 'Beginning\xa0Balance']
AMT
cl [-14112.0, -14112.0, -9072.0, 61721.5, 61721.5, 61721.5, 61721.5, 61746.5]
cl_name ['Tx\xa0from\xa0Expeditions', 'Tx\xa0from\xa0Expeditions', 'Tx\xa0from\xa0Expeditions', 'Close\xa0out\xa0July', 'Close\xa0out\xa0August', 'Close\xa0out\xa0September', 'Close\xa0out\xa0October', 'Tx\xa0to\xa0Enterprise\xa0Wall']
bb [99434.5, 9072.0, 118886.5, 61721.5, 61721.5, 61721.5, 61721.5, 0.0]
bb_name ['Beginning\xa0Balance', 'Tx\xa0from\xa0Expeditions', 'Beginning\xa0Balance', 'Beginning\xa0Balance', 'Beginning\xa0Balance', 'Beginning\xa0Balance', 'Beginning\xa0Balance', 'Beginning\xa0Balance']
Expeditions
cl [85606.5, 11200.0, -0.0, -0.0, -0.0, -0.0]
cl_name ['Close\xa0out\xa0June', 'Amigos\xa0Tours\xa0&\xa0Shuttles', 'Close\xa0out\xa0December', 'Close\xa0out\xa0January', 'Close\xa0out\xa0February', 'Close\xa0out\xa0March']
bb [0.0, 0.0, 0.0, 0.0, 0.0]
bb_name ['Beginning\xa0Balance', 'Beginning\xa0Balance', 'Beginning\xa0Balance', 'Beginning\xa0Balance', 'Beginning\xa0Balance']
Base Savings Spending
cl [116465.82, 116465.82, 85244.82, 83785.82, -189.5, 40380.82, 60380.82, 58880.82]
cl_name ['Close\xa0out\xa0August', 'Close\xa0out\xa0September', 'Close\xa0out\xa0October', 'Close\xa0out\xa0November', 'Michael\xa0Porter', 'Close\xa0out\xa0January', 'Close\xa0out\xa0February', 'Close\xa0out\xa0March']
bb [116465.82, 116465.82, 85244.82, 83785.82, 72380.82, 40380.82, 60380.82, 58880.82]
bb_name ['Beginning\xa0Balance', 'Beginning\xa0Balance', 'Beginning\xa0Balance', 'Beginning\xa0Balance', 'Beginning\xa0Balance', 'Beginning\xa0Balance', 'Beginning\xa0Balance', 'Beginning\xa0Balance']

In [160]:
tmp_fld = os.path.join("data", "grouped")

if os.path.exists(tmp_fld):
    shutil.rmtree(tmp_fld)
os.mkdir(tmp_fld)

col = "fileacct"
for i in df[col].unique():
    df_acct = df[df[col] == i]
    ending = round(df_acct.Price.sum(),2)
    print(ending, i)
    df_acct.to_excel(os.path.join(tmp_fld, f"{i}.xlsx"))

-0.0 AAM BCI
0.0 OE Base Savings Budget
0.0 KITTY
0.0 KITTY Rollover
0.0 OE Base Savings Spending
0.0 AAM Base
0.0 OE Base
0.0 AAM Expeditions
-0.0 OE BCI
0.0 OE Villa
0.0 OE Wall

In [23]:
df_acct

,Receipt Index,Date,Name,Price,Currency,Exchange Rate,Price (Exchanged),Category Name,Category Code,Comment,Payment Method,filename,filedate,fileacct
2,1,2020-04-01,Beginning Balance,0.0,MZN,1,0.0,BF - Deposit,BF - DEP,Beginning Balance,Associacao Petty Cash,AAM PC Base 04 2020,2020-04-01,AAM PC Base
12,2,2020-04-06,Tx from OE Base,3000.0,MZN,1,3000.0,BF - Accounting Fees,BF - ACCT,Somoconta accounting,Associacao Petty Cash,AAM PC Base 04 2020,2020-04-01,AAM PC Base
22,3,2020-04-06,Somoconta,-3000.0,MZN,1,-3000.0,BF - Accounting Fees,BF - ACCT,Associação accounting fees,Associacao Petty Cash,AAM PC Base 04 2020,2020-04-01,AAM PC Base
31,4,2020-04-29,Tx from OE Base,750.0,MZN,1,750.0,BF - Office Supplies,BF - OFSUPP,Receipt Book,Base,AAM PC Base 04 2020,2020-04-01,AAM PC Base
39,5,2020-04-29,Gráfica Sul do Save,-750.0,MZN,1,-750.0,BF - Office Supplies,BF - OFSUPP,AAM Receipt book,Base,AAM PC Base 04 2020,2020-04-01,AAM PC Base
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1717,4,2021-05-02,Bailey Base Fees,30220.0,MZN,1,30220.0,BF - Deposit,BF - DEP,Bailey base fees,NaN,AAM PC Base 05 2021,2021-05-01,AAM PC Base
1722,5,2021-05-03,Somoconta,-3000.0,MZN,1,-3000.0,BF - Accounting Fees,BF - ACCT,Accounting fees for April,NaN,AAM PC Base 05 2021,2021-05-01,AAM PC Base
1726,6,2021-05-03,Kochen Base Fees,26220.0,MZN,1,26220.0,BF - Deposit,BF - DEP,Kochen Base fees,NaN,AAM PC Base 05 2021,2021-05-01,AAM PC Base
1730,7,2021-05-03,Overland Enterprises,-101770.0,MZN,1,-101770.0,"BF - Rent, Other Occupancy",BF - RNT,Rent Payment for May,NaN,AAM PC Base 05 2021,2021-05-01,AAM PC Base
1734,8,2021-05-31,Closing Balance,-72288.0,MZN,1,-72288.0,BF - Deposit,BF - DEP,Closing balance,NaN,AAM PC Base 05 2021,2021-05-01,AAM PC Base

In [21]:
acct = "AAM PC Base"
df_acct = df[df["fileacct"] == acct]
bb_df = df_acct[df_acct["Receipt Index"]==1][1:]
# df_acct.Price.sum()
# df_acct.to_csv("tmp/AAM PC Base.csv")
df_acct

,Receipt Index,Date,Name,Price,Currency,Exchange Rate,Price (Exchanged),Category Name,Category Code,Comment,Payment Method,filename,filedate,fileacct
2,1,2020-04-01,Beginning Balance,0.0,MZN,1,0.0,BF - Deposit,BF - DEP,Beginning Balance,Associacao Petty Cash,AAM PC Base 04 2020,2020-04-01,AAM PC Base
12,2,2020-04-06,Tx from OE Base,3000.0,MZN,1,3000.0,BF - Accounting Fees,BF - ACCT,Somoconta accounting,Associacao Petty Cash,AAM PC Base 04 2020,2020-04-01,AAM PC Base
22,3,2020-04-06,Somoconta,-3000.0,MZN,1,-3000.0,BF - Accounting Fees,BF - ACCT,Associação accounting fees,Associacao Petty Cash,AAM PC Base 04 2020,2020-04-01,AAM PC Base
31,4,2020-04-29,Tx from OE Base,750.0,MZN,1,750.0,BF - Office Supplies,BF - OFSUPP,Receipt Book,Base,AAM PC Base 04 2020,2020-04-01,AAM PC Base
39,5,2020-04-29,Gráfica Sul do Save,-750.0,MZN,1,-750.0,BF - Office Supplies,BF - OFSUPP,AAM Receipt book,Base,AAM PC Base 04 2020,2020-04-01,AAM PC Base
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1717,4,2021-05-02,Bailey Base Fees,30220.0,MZN,1,30220.0,BF - Deposit,BF - DEP,Bailey base fees,NaN,AAM PC Base 05 2021,2021-05-01,AAM PC Base
1722,5,2021-05-03,Somoconta,-3000.0,MZN,1,-3000.0,BF - Accounting Fees,BF - ACCT,Accounting fees for April,NaN,AAM PC Base 05 2021,2021-05-01,AAM PC Base
1726,6,2021-05-03,Kochen Base Fees,26220.0,MZN,1,26220.0,BF - Deposit,BF - DEP,Kochen Base fees,NaN,AAM PC Base 05 2021,2021-05-01,AAM PC Base
1730,7,2021-05-03,Overland Enterprises,-101770.0,MZN,1,-101770.0,"BF - Rent, Other Occupancy",BF - RNT,Rent Payment for May,NaN,AAM PC Base 05 2021,2021-05-01,AAM PC Base
1734,8,2021-05-31,Closing Balance,-72288.0,MZN,1,-72288.0,BF - Deposit,BF - DEP,Closing balance,NaN,AAM PC Base 05 2021,2021-05-01,AAM PC Base

In [114]:
close_df = df_acct[df_acct["Receipt Index"].shift(-1)==1]
close_df

,Receipt Index,Date,Name,Price,Currency,Exchange Rate,Price (Exchanged),Category Name,Category Code,Comment,Payment Method,filename
1,3,2020-04-01,Tx to Expeditions,-252256.0,MZN,1,-252256.0,BF - Deposit,BF - DEP,Withdrawal,AMT,AAM BCI 04 2020
35,26,2020-04-30,Close out month,-99434.5,MZN,1,-99434.5,BF - Deposit,BF - DEP,Remaining balance,AMT,Expeditions 04 2020
78,34,2020-06-01,Close out May,-118886.5,MZN,1,-118886.5,BF - Deposit,BF - DEP,Close out May,AMT,Expeditions 05 2020
80,2,2020-06-01,Tx to Kitty,-9072.0,MZN,1,-9072.0,BF - Deposit,BF - DEP,Amt kitty fees partial,AMT,Expeditions 06 2020
97,10,2020-07-31,Close out July,-61721.5,MZN,1,-61721.5,BF - Deposit,BF - DEP,Close out July,AMT,Expeditions 07 2020
99,2,2020-08-31,Close out August,-61721.5,MZN,1,-61721.5,BF - Deposit,BF - DEP,Close out August,AMT,Expeditions 08 2020
101,2,2020-09-30,Close out September,-61721.5,MZN,1,-61721.5,BF - Deposit,BF - DEP,Close out September,AMT,Expeditions 09 2020
103,2,2020-10-31,Close out October,-61721.5,MZN,1,-61721.5,BF - Deposit,BF - DEP,Close out October,AMT,Expeditions 10 2020
106,3,2020-11-12,Tx to Enterprise Wall,-61746.5,MZN,1,-61746.5,BF - Deposit,BF - DEP,Reclass from AMT to Wall,AMT,Expeditions 11 2020

In [115]:
pd.concat([close_df, bb_df], axis=0).sort_index()

,Receipt Index,Date,Name,Price,Currency,Exchange Rate,Price (Exchanged),Category Name,Category Code,Comment,Payment Method,filename
1,3,2020-04-01,Tx to Expeditions,-252256.0,MZN,1,-252256.0,BF - Deposit,BF - DEP,Withdrawal,AMT,AAM BCI 04 2020
35,26,2020-04-30,Close out month,-99434.5,MZN,1,-99434.5,BF - Deposit,BF - DEP,Remaining balance,AMT,Expeditions 04 2020
36,1,2020-05-01,Beginning Balance,99434.5,MZN,1,99434.5,BF - Deposit,BF - DEP,Beginning Balance,AMT,Expeditions 05 2020
78,34,2020-06-01,Close out May,-118886.5,MZN,1,-118886.5,BF - Deposit,BF - DEP,Close out May,AMT,Expeditions 05 2020
79,1,2020-06-01,Beginning Balance,118886.5,MZN,1,118886.5,BF - Deposit,BF - DEP,Beginning Balance,AMT,Expeditions 06 2020
80,2,2020-06-01,Tx to Kitty,-9072.0,MZN,1,-9072.0,BF - Deposit,BF - DEP,Amt kitty fees partial,AMT,Expeditions 06 2020
81,1,2020-06-01,Tx from Expeditions,9072.0,MZN,1,9072.0,BF - Deposit,BF - DEP,AMT kitty fees for week,AMT,Kitty 06 2020
97,10,2020-07-31,Close out July,-61721.5,MZN,1,-61721.5,BF - Deposit,BF - DEP,Close out July,AMT,Expeditions 07 2020
98,1,2020-08-01,Beginning Balance,61721.5,MZN,1,61721.5,BF - Deposit,BF - DEP,Beginning Balance,AMT,Expeditions 08 2020
99,2,2020-08-31,Close out August,-61721.5,MZN,1,-61721.5,BF - Deposit,BF - DEP,Close out August,AMT,Expeditions 08 2020
100,1,2020-09-01,Beginning Balance,61721.5,MZN,1,61721.5,BF - Deposit,BF - DEP,Beginning Balance,AMT,Expeditions 09 2020
101,2,2020-09-30,Close out September,-61721.5,MZN,1,-61721.5,BF - Deposit,BF - DEP,Close out September,AMT,Expeditions 09 2020
102,1,2020-10-01,Beginning Balance,61721.5,MZN,1,61721.5,BF - Deposit,BF - DEP,Beginning Balance,AMT,Expeditions 10 2020
103,2,2020-10-31,Close out October,-61721.5,MZN,1,-61721.5,BF - Deposit,BF - DEP,Close out October,AMT,Expeditions 10 2020
104,1,2020-11-01,Beginning Balance,61721.5,MZN,1,61721.5,BF - Deposit,BF - DEP,Beginning Balance,AMT,Expeditions 11 2020
106,3,2020-11-12,Tx to Enterprise Wall,-61746.5,MZN,1,-61746.5,BF - Deposit,BF - DEP,Reclass from AMT to Wall,AMT,Expeditions 11 2020
107,1,2021-04-01,Beginning Balance,0.0,MZN,1,0.0,BF - Deposit,BF - DEP,Beginning Balance,AMT,Expeditions 04 2021

In [116]:
df[df["filename"]=="Expeditions 05 2020"]

,Receipt Index,Date,Name,Price,Currency,Exchange Rate,Price (Exchanged),Category Name,Category Code,Comment,Payment Method,filename
36,1,2020-05-01,Beginning Balance,99434.5,MZN,1,99434.5,BF - Deposit,BF - DEP,Beginning Balance,AMT,Expeditions 05 2020
37,2,2020-05-03,Tx to Kitty,-14112.0,MZN,1,-14112.0,BF - Deposit,BF - DEP,One week kitty fees,AMT,Expeditions 05 2020
40,3,2020-05-07,Machavenga,-250.0,MZN,1,-250.0,BF - Grocery & Other Supplies,BF - SUPP,Masks,AMT,Expeditions 05 2020
41,4,2020-05-07,Vodacom,-500.0,MZN,1,-500.0,BF - Telecommunications,BF - TELE,Data for classes,AMT,Expeditions 05 2020
42,5,2020-05-07,Vodacom,-500.0,MZN,1,-500.0,BF - Telecommunications,BF - TELE,Data for classes,AMT,Expeditions 05 2020
43,6,2020-05-07,Vodacom,-500.0,MZN,1,-500.0,BF - Telecommunications,BF - TELE,Data for classes,AMT,Expeditions 05 2020
44,7,2020-05-07,Vodacom,-500.0,MZN,1,-500.0,BF - Telecommunications,BF - TELE,Data for classes,AMT,Expeditions 05 2020
46,8,2020-05-08,Tx from Associação BCI,182536.0,MZN,1,182536.0,BF - Deposit,BF - DEP,Withdrawal,AMT,Expeditions 05 2020
49,9,2020-05-09,Tx to Overland Enterprise base,-3589.0,MZN,1,-3589.0,BF - Telecommunications,BF - TELE,Internet for remainder of AMT,AMT,Expeditions 05 2020
50,10,2020-05-09,Tx to Overland Enterprise base,-66464.0,MZN,1,-66464.0,BF - Deposit,BF - DEP,AMT Base Fees for May,AMT,Expeditions 05 2020
52,11,2020-05-11,Tx to Kitty,-14112.0,MZN,1,-14112.0,BF - Deposit,BF - DEP,One week kitty fees,AMT,Expeditions 05 2020
53,12,2020-05-11,Tx to Assoc BCI,-1400.0,MZN,1,-1400.0,BF - Bank Fees,BF - BNK,Deposit to cover wire fees,AMT,Expeditions 05 2020
54,13,2020-05-11,Machavenga,-132.0,MZN,1,-132.0,BF - Grocery & Other Supplies,BF - SUPP,Food coloring for WFR class,AMT,Expeditions 05 2020
55,14,2020-05-11,Comercio Azul,-79.0,MZN,1,-79.0,BF - Grocery & Other Supplies,BF - SUPP,Corn starch for WFR class,AMT,Expeditions 05 2020
57,15,2020-05-13,Vodacom,-500.0,MZN,1,-500.0,BF - Telecommunications,BF - TELE,Data for classes,AMT,Expeditions 05 2020
58,16,2020-05-13,Vodacom,-500.0,MZN,1,-500.0,BF - Telecommunications,BF - TELE,Data for classes,AMT,Expeditions 05 2020
59,17,2020-05-13,Vodacom,-500.0,MZN,1,-500.0,BF - Telecommunications,BF - TELE,Data for classes,AMT,Expeditions 05 2020
60,18,2020-05-13,Vodacom,-500.0,MZN,1,-500.0,BF - Accounting Fees,BF - ACCT,Data for classes,AMT,Expeditions 05 2020
61,19,2020-05-17,Sumi,-3600.0,MZN,1,-3600.0,BF - Entertainment & Meals,BF- ENTML,Amt meal out,AMT,Expeditions 05 2020
62,20,2020-05-18,Tx to Kitty,-14112.0,MZN,1,-14112.0,BF - Grocery & Other Supplies,BF - SUPP,Amt Kitty fees one week,AMT,Expeditions 05 2020
64,21,2020-05-21,Vodacom,-500.0,MZN,1,-500.0,BF - Telecommunications,BF - TELE,Data for class,AMT,Expeditions 05 2020
65,22,2020-05-21,Vodacom,-500.0,MZN,1,-500.0,BF - Telecommunications,BF - TELE,Data for class,AMT,Expeditions 05 2020
66,23,2020-05-22,Vodacom,-1000.0,MZN,1,-1000.0,BF - Telecommunications,BF - TELE,Data for classes,AMT,Expeditions 05 2020
67,24,2020-05-24,Tx to Kitty,-14112.0,MZN,1,-14112.0,BF - Deposit,BF - DEP,One week kitty fees AMT,AMT,Expeditions 05 2020
69,25,2020-05-25,Comercio Azul,-750.0,MZN,1,-750.0,BF - Grocery & Other Supplies,BF - SUPP,10 bags ice for graduation dinner,AMT,Expeditions 05 2020
70,26,2020-05-27,Machavenga,-8993.0,MZN,1,-8993.0,BF - Grocery & Other Supplies,BF - SUPP,Grad dinner food,AMT,Expeditions 05 2020
71,27,2020-05-27,Carne Osso,-3162.0,MZN,1,-3162.0,BF - Grocery & Other Supplies,BF - SUPP,Meat for grad dinner,AMT,Expeditions 05 2020
72,28,2020-05-28,Moz Prints,-480.0,MZN,1,-480.0,BF - Grocery & Other Supplies,BF - SUPP,Balloons for grad dinner,AMT,Expeditions 05 2020
73,29,2020-05-28,Boat Captains,-1000.0,MZN,1,-1000.0,"BF - Honorariums, Gifts, Scholarship",BF - HNR,Honorarium,AMT,Expeditions 05 2020
74,30,2020-05-29,Tx from Rollover,1093.0,MZN,1,1093.0,BF - Deposit,BF - DEP,Reimbursement for kitty items bought on receipt,AMT,Expeditions 05 2020
75,31,2020-05-29,Johnny,-1350.0,MZN,1,-1350.0,BF - Grocery & Other Supplies,BF - SUPP,3kg prawns for grad dinner,AMT,Expeditions 05 2020
76,32,2020-05-29,Babalaza Shop,-480.0,MZN,1,-480.0,BF - Grocery & Other Supplies,BF - SUPP,Drinks for grad dinner,AMT,Expeditions 05 2020
77,33,2020-05-30,Jo,-10000.0,MZN,1,-10000.0,"BF - Honorariums, Gifts, Scholarship",BF - HNR,AMT graduation boat trip,AMT,Expeditions 05 2020
78,34,2020-06-01,Close out May,-118886.5,MZN,1,-118886.5,BF - Deposit,BF - DEP,Close out May,AMT,Expeditions 05 2020

In [190]:
df[(df["Receipt Index"]==1) & (df["Name"]=="Beginning Balance")]

Empty DataFrame
Columns: [Receipt Index, Date, Name, Price, Currency, Exchange Rate, Price (Exchanged), Category Name, Category Code, Comment, Payment Method, filename, filedate, fileacct]
Index: []

In [189]:
df["Name"] = df["Name"].astype(str)